.container {
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    row-gap: 100px;
    background-color: #090909;
}

.title {
    color: white;
    align-self: center;
}

h3 {
    font-size: large;
}

.section {
    display: flex;
    flex-direction: column;
    margin: 50px 0px 350px 0px;
}

.overviewContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.logoImage {    
    width: 60%;
    height: 150px;
    object-fit: contain;
}

.overviewBox {
    display: flex;
    flex: 1 1 22.5%;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    color: white;
    min-width: 300px;
    box-sizing: border-box;
    padding: 0px 30px;
    margin-bottom: 15px;
}

#mainImageContainer {
    flex: 1 1 55%;
    margin-bottom: 15px;
}

.mainImage {
    opacity: 0;
    transform: scale(1.5, 1.5);
    border-radius: 20px;
    width: 100%;
}

.overViewDescription {
    flex: 1 1 22.5%;
    opacity: 0;
    color: white;
    box-sizing: border-box;
    padding: 0px 3%;
}

.fadeIn {
    opacity: 1;
    transform: scale(1, 1);
    transition: opacity 1s, transform 1s;
}

.fadeInDelayed {
    opacity: 1;
    transition: opacity 1s;
    transition-delay: .8s;
}

.designPanel {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.designBtn {
    width: 100px;
    height: 40px;
    border-radius: 10px 10px 3px 3px;
    font-size: x-large;
    color: white;
    border-color: #fc4e42;
    border-width: 0px;
    background-color: #414141;
    transition: border-width 0.1s;
}

.designBtn:disabled {
    border-width: 0px 0px 4px 0px;
    background-color: #181818;
    transition: border-width 0.1s;
}

.designContainer {
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.technicalSpecContainer {
    opacity: 0;
    display: flex;
    flex-direction: column;
}

.tabPanel {
    opacity: 0;
    max-width: 100%;
}

.tabPanelLeft {
    opacity: 0;
    margin-left: 500px;
}

.tabPanelRight {
    opacity: 0;
    margin-right: 500px;
}

.animateTabPanelLeft {
    opacity: 1;
    transform: translateX(-250px);
    transition: opacity 1s, transform .5s;
}

.animateTabPanelRight {
    opacity: 1;
    transform: translateX(250px);
    transition: opacity 1s, transform .5s;
}

.animateFadeInTop {
    opacity: 1;
    transform: translateY(-400px);
    transition: opacity .5s, transform 1s;
}

.animateFadeInTopVideo {
    opacity: 1;
    transform: translateY(-400px);
    transition: opacity .5s, transform 1s;
}

.tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tab {
    width: 150px;
    color: black;
}

.testDriveContainer {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    align-items: center;
}

.frame {
    display: block;
    aspect-ratio: 16 / 9;
    width: 50%;
}

@media (max-width: 1200px) { 
    .tabPanelLeft {
        margin-left: 100px;
    }
    
    .tabPanelRight {
        margin-right: 100px;
    }
    
    .animateTabPanelLeft {
        transform: translateX(-50px);
    }
    
    .animateTabPanelRight {
        transform: translateX(50px);
    }
}

@media (max-width: 500px) {
    .container {
        padding: 0px 30px;
        row-gap: 80px;
    }

    .section {
        display: flex;
        flex-direction: column;
    }

    .title {
        font-size: x-large;
    }

    h3 {
        font-size: medium;
    }

    .logoImage {    
        width: 80px;
        height: 80px;
    }
    
    #mainImageContainer {
        flex: 1 1 65%;
        margin-bottom: 15px;
    }
    
    .tab {
        width: 70px;
        font-size: small;
    }

    .tabPanelLeft {
        opacity: 0;
        margin-left: 0px;
    }
    
    .tabPanelRight {
        opacity: 0;
        margin-right: 0px;
    }
    
    .animateTabPanelLeft {
        opacity: 1;
        transform: translateX(0px);
        transition: opacity 1s, transform .5s;
    }
    
    .animateTabPanelRight {
        opacity: 1;
        transform: translateX(0px);
        transition: opacity 1s, transform .5s;
    }

    .testDriveContainer {
        row-gap: 30px;
    }

    .frame {
        display: block;
        aspect-ratio: 16 / 9;
        width: 90%;
    }

    .animateFadeInTopVideo {
        transform: translateY(-300px);
    }
}