.container {
    display: flex;
    flex-direction: column;
    padding: 0px 50px;
    background-color: #090909;
}

.title {
    color: white;
    align-self: center;
    margin: 100px 0px 0px 0px;
}


.logoImage {
    width: 100px;
    height: 100px;
}

.overviewContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 700px;
}

.overviewBox {
    opacity: 0;
    min-width: 500px;
    max-width: 500px;
    color: white;
    align-self: center;
}

.mainImage {
    opacity: 0;
    width: 900px;
    height: 500px;
    transform: scale(1.5, 1.5);
    border-radius: 20px;
}

.overViewDescription {
    opacity: 0;
    align-self: center;
    color: white;
    min-width: 300px;
    max-width: 300px;
    padding: 0px 100px;
}

.fadeIn {
    opacity: 1;
    transform: scale(1, 1);
    transition: opacity 1s, transform 1s;
}

.fadeInDelayed {
    opacity: 1;
    transition: opacity 1s;
    transition-delay: .8s;
}

.interiorContainer {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    row-gap: 60px;
    height: 700px;
    margin-bottom: 50px;
    margin-top: 200px;
}

.interiorDesignImg {
    margin-top: 50px;
    align-self: center;
    width: 1400px;
}

.subTitle {
    color: white;
    margin-left: 40%;
}

.technicalSpecImg {
    width: 48%;
    height: 400px;
}

.horizontalContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.verticalDescription {
    color: white;
    min-width: 40%;
    max-width: 40%;
    margin-right: 50px;
}

.specRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 55px;
}

.specParagraph {
    font-size: medium;
}

.technicalSpecContainer {
    opacity: 0;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.animateFadeInTop {
    opacity: 1;
    transform: translateY(-200px);
    transition: opacity .5s, transform 1s;
}

.tabs {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tab {
    width: 150px;
}

/* .tabPanel {
    opacity: 0;
    margin-top: 50px;
    align-self: center;
    width: 1000px;
} */

.tabPanelLeft {
    opacity: 0;
    margin-top: 50px;
    align-self: center;
    width: 900px;
    margin-left: 1500px;
}

.tabPanelRight {
    opacity: 0;
    margin-top: 50px;
    align-self: center;
    width: 900px;
    margin-right: 1700px;
}

.animateTabPanelLeft {
    opacity: 1;
    transition: opacity 1s, transform .5s;
    transform: translateX(-750px);
}

.animateTabPanelRight {
    opacity: 1;
    transform: translateX(850px);
    transition: opacity 1s, transform .5s;
}