.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    box-sizing: border-box;
    align-items: center;
    padding: 50px;

    background-color: var(--secondary-background-color);
    transition: background-color var(--transition-delay);
}

.title {
    color: white;
    align-self: center;
    font-size: 60px;
    margin: 0px 0px 50px 0px;
}

.searchBox {
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 530px;

    background-color: var(--background-color-opacity);
    transition: background-color var(--transition-delay);
}

.horizontalBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 20px;
}

.selectContainer {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
    row-gap: 10px;
}

.select {
    display: flex;
    flex-direction: column;
    flex: 1 1 25%;
    padding-top: 0px;
}

.selectYear {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-top: 0px;
}

.selectTitle {
    color: var(--text-color);
    transition: color var(--transition-delay);
}

.input {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    font-size: medium;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.selectYear {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;

    background-color: var(--secondary-background-color-opacity);
    transition: background-color var(--transition-delay);
}

.releasedYearContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rangeInputContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    column-gap: 20px;    
    align-items: center;
    height: 30px;
}

.yearRange {
    width: 100%;
}

.rangeTitles {
    margin: 0px;
    font-size: large;

    color: var(--text-color);
    transition: color var(--transition-delay);
}

.searchBtn {
    color: white;
    font-size: medium;
    background-color: #e03636;
    border-width: 0px;
    border-radius: 25px;
    align-self: center;
    width: 200px;
    height: 50px;
}

.carsContainer {
    height: 700px;
}

@media (max-width: 800px) {
    .container {
        padding: 10px;
    }

    .title {
        font-size: 30px;
        margin: 20px;
    }
}