.navBar {
    display: flex;
    top: 0;
    position: sticky;
    justify-content: flex-start;
    flex-direction: row;
    list-style-type: none;
    padding-left: 50px;
    height: 50px;
    z-index: 1000;

    background-color: var(--secondary-background-color);
    transition: background-color var(--transition-delay);
}

.navItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}

.navItem:last-of-type {
    padding: 10px;
    box-sizing: border-box;
    margin-left: auto;
}

.navLink {
    color: var(--text-color);
    transition: background-color var(--transition-delay);
}