.container {
    display: grid;
    background-color: black;
    width: 100%;
}

.carousel {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    overflow: hidden;
    z-index: 0;
}

.slider {
    display: flex;
    flex-direction: row-reverse;
    transition: transform 1s;
    padding-left: calc(50% - 500px);
}

.btn {
    display: flex;
    height: 80px;
    grid-row: 1;
    grid-column: 1;
    align-self: center;
    align-items: center;
    justify-content: center;
    border: 0px;
    border-radius: 40px;
    font-size: 70px;
    background-color: #454545;
    color: white;
    opacity: 1;
    z-index: 1;
}

.leftBtn {
    margin-left: 20px;
    justify-self: start;
}

.rightBtn {
    margin-right: 20px;
    justify-self: end;
}

.carouselUl {
    display: flex;
}

.carouselLi {
    display: flex;
    max-width: 1000px;
    min-width: 1000px;
    max-height: 600px; 
    min-height: 600px; 
    border: 0px;
    justify-content: center;
    align-content: center; 
    margin: 0px -50px; 
}

@media (max-width: 1200px) {
    .btn {
        height: 40px;
        font-size: 30px;
    }

    .carouselLi {
        max-width: 500px;
        min-width: 500px;
        max-height: 300px; 
        min-height: 300px; 
        margin: 0px -25px; 
    }

    .slider {
        padding-left: calc(50% - 265px);
    }   
}

@media (max-width: 500px) {
    .btn {
        height: 30px;
        width: 30px;
        font-size: 30px;
    }

    .carouselLi {
        max-width: 250px;
        min-width: 250px;
        max-height: 150px; 
        min-height: 150px; 
        margin: 0px -25px; 
    }

    .leftBtn {
        margin-left: 5px;
    }
    
    .rightBtn {
        margin-right: 5px;
    }
    
    .slider {
        padding-left: calc(50% - 140px);
    }   
}